*{
    font-family: 'Montserrat';
}
body{
    background: linear-gradient(120deg,#eed8af,#b6e1e4);
    color: black;
}
.navbar{
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    box-shadow: 2px 3px 10px grey;
    z-index: 1;
}
.navbar2{
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    box-shadow: 2px 3px 10px grey;
}
.navbar h1,.navbar2 h1{
    margin-left: 50px;
}
.right,.right2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}
.right li,.right2 li{
    list-style-type: none;
    font-size: 20px;
    position: relative;
}
.right li:hover,.right2 li:hover{
    transition: all 0.5s ease;
    font-weight: 900;
    color: rgb(43, 41, 41);
}
.right li::after,.right2 li::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    height: 3px;
    background: rgb(14, 14, 14);
    width: 0;
}
.right li:hover::after,.right2 li:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}
.right button,.right2 button{
    padding: 10px 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
}
.logoutpage{
    background: linear-gradient(120deg,#fcf4d4,#f2c1be);
    height:170vh;
    width: 100%;
}
.logoutpage h4{
    align-items: right;
    text-align: right;
    padding-right: 50px;
    color: rgb(0, 0, 0);
}
h4 button{
    color: white;
    background-color: black;
    padding: 6px 16px;
    border: none;
    border-radius: 5px;
}
.maintext{
    font-size: 55px;
    padding-top: 80px;
    background: linear-gradient(to right, #6def35, #32d0cd,#432edd, #d90707);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.first{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.first img{
    height: 200px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
}
.first img:hover{
    transform: scale(1.1);
    z-index: inherit;
}
.signin,.signup,.admin{
    width: 400px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
}
.signin input,.signup input,.admin input{
    padding: 10px;
    margin: 10px;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
}
.signin input[type=submit],.signup input[type=submit],.admin input[type=submit]{
    padding: 10px;
    width: 76%;
    margin: 10px;
    font-size: 1rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}
.signin input[type=submit]:active,.signup input[type=submit]:active,.admin input[type=submit]:active{
    opacity: 0.8;
}
.signin p,.signup p{
    font-size: 16px;
    margin: auto;
}
.home{
    height: 100vh;
}
.main{
    height: 100vh;
    margin-top: 80px;
    background-color: whitesmoke;
    align-items: center;
}
.wlcmnote{
    margin-top: 0px;
    padding: 20px;
}
.searchTerm{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}
.searchTerm input{
    flex: 1;
    height: 40px;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 65px;
}
.searchTerm button{
    padding: 12.5px 30px;
    border-radius: 30px;
    font-size: 16px;
    background: black;
    color: white;
    border: none;
    position: relative;
    right: 50px;
}
.main input::placeholder{
    font-size: 18px;
    padding-left: 20px;
}
.popbooks{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popbooks div{
    height: 290px;
    width: 200px;
    background-color: white;
    box-shadow: 2px 3px 10px gray;
    border-radius: 5px;
}
.popbooks div:hover{
    outline: 3px solid black;
}
.popbooks div img{
    height: 79%;
    width: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div h5{
    margin-top: 5px;
}
.footer{
    background-color: rgb(248, 248, 245);
    height: 50px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer h1{
    color: black;
}
@media (max-width:480px){
    .navbar{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .navbar h1{
        margin-left: 0px;
        margin-top: 0px;
        height: 50px;
        background: linear-gradient(120deg,#7fb780,#ec9cc3);
    }
    .navbar2 h1{
        margin-left: 10px;
        font-size: 28px;
    }
    .right,.right2{
        margin-right:0px;
    }
    .logoutpage{
        height: 120vh;
    }
    .maintext{
        font-size: 24px;
        padding:80px 10px 10px 10px;
    }
    .lasttext{
        padding:30px 10px 10px 10px;
        font-size: 26px;
    }
    .first{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2px;
    }
    .first img{
        height: 100px;
        width: 75px;
    }
    .signin,.signup,.admin{
        width: 70%;
    }
    .signin h1,.signup h1,.admin h1{
        font-size: 25px;
    }
    .signin input,.signup input,.admin input{
        width: 100%;
    }
    .signin input[type=submit],.signup input[type=submit],.admin input[type=submit]{
        width: 109%;
    }
    .signin p,.signup p{
        font-size: 12px;
    }
    .right button{
        font-size: 18px;
    }
    .main{
        height: 300vh;
        width: 105%;
    }
    .wlcmnote{
        margin-top: 130px;
        font-size: 15px;
    }
    .main .searchTerm{
        margin-left: 17px;
        width: 260px;
    }
    .searchTerm button{
        right: 40px;
    }
    .main input::placeholder{
        font-size: 14px;
        padding-left: 3px;
    }
    .popbooks div{
        margin: 15px;
    }
    .popbooks{
        flex-direction: column;
    }
}
